# Bazel
/bazel-*
.bazelrc.local

# Secrets
.secrets*
secrets.tar

# IDE
.idea
*.iml
*.iws
.idea_modules/
.vscode

# Nix / direnv
.direnv
.env

# OS
.DS_Store

# Build artifacts
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Java crash logs
hs_err_pid*

# Misc
.bsp
.metals
.bloop
.cache
